flows.json
[
    {
        "id": "14cbc80102569a2e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ad92fd86c337b17",
        "type": "websocket-listener",
        "path": "/oauth/mailchimp/callback",
        "wholemsg": "true"
    },
    {
        "id": "a84becc01db978f7",
        "type": "debug",
        "z": "14cbc80102569a2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "a08865e72e271fe9",
        "type": "inject",
        "z": "14cbc80102569a2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "e53915639e18d088"
            ]
        ]
    },
    {
        "id": "be437cec59b6bc5b",
        "type": "marketingMailchimp",
        "z": "14cbc80102569a2e",
        "name": "",
        "server": "us9",
        "token": "5951bda576aa1d729450ba3de03f7b72",
        "resourceName": "Campaigns",
        "resource": "Get campaign feedback message",
        "queryParams": "",
        "bodyPost": "bodyPost",
        "app_id": "test",
        "workflow_id": "paperino",
        "workflow_email_id": "pluto",
        "campaign_id": "71e78889fd",
        "feedback_id": "173020",
        "conversation_id": "pippo",
        "message_id": "pluto",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "a84becc01db978f7"
            ]
        ]
    },
    {
        "id": "e53915639e18d088",
        "type": "function",
        "z": "14cbc80102569a2e",
        "name": "",
        "func": "msg.bodyPost = {\n    message: \"Test\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "be437cec59b6bc5b"
            ]
        ]
    }
]